

.slidingDiv {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide {
	display: none;
}
.slidingDiv2 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide2 {
	display: none;
}
.slidingDiv3 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide3 {
	display: none;
}
.slidingDiv4 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide4 {
	display: none;
}
.slidingDiv5 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide5 {
	display: none;
}
.slidingDiv6 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide6 {
	display: none;
}
.slidingDiv7 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide7 {
	display: none;
}
.slidingDiv8 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide8 {
	display: none;
}

.slidingDiv9 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide9 {
	display: none;
}
.slidingDiv10 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide10 {
	display: none;
}
.slidingDiv11 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide11 {
	display: none;
}
.slidingDiv12 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide12 {
	display: none;
}
.slidingDiv13 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide13 {
	display: none;
}
.slidingDiv14 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide14 {
	display: none;
}

.slidingDiv15 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide15 {
	display: none;
}
.slidingDiv16 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide16 {
	display: none;
}
.slidingDiv17 {
	width:400px;
	height:auto;
	background:#151515;
	border:1px solid #601111;
	padding:10px;
	margin:0 0 0 215px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.show_hide17 {
	display: none;
}
.slidingDiv h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv2 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv3 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv4 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv5 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv6 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv7 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv8 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv9 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv10 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv11 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv12 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv13 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv14 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv15 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv16 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.slidingDiv17 h2{
	width:100%;
	height:16px;
	float:left;
	margin:-10px 0 5px 0;
	float:left;
	font-size:14px;
}
.show_hide_img{
	width:22px;
	height:22px;
	position:absolute;
	top:3px;
	right:3px;
}
.dot_div{
	width:100%;
	background:url(../images1/dot_line.png) repeat-x;
	height:1px;
	float:left;
	margin:0 0 8px 0 !important;
}



