
.panel-1 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: #D9D9D9;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25em;
    padding:1.25em;
}

.panel-2 {
    background:url(../image/transparent-bg.png) repeat; 
    border-color: #ff154d;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25em;
    padding:1.25em;
	border-radius:6px; 
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
}

.panel-3 {
    background: none repeat scroll 0 0 #FFF;
    border-color: #D9D9D9;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25em;
	margin-top:1.25em;
    padding:1.25em; 
}

.panel-4{
background: none repeat scroll 0 0  #000;	
border: 1px solid #E5AD00;
padding:5px;
border-radius:6px; 
-moz-border-radius:6px; 
-webkit-border-radius:6px; 
}

.panel-5
{
    background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px solid #BCBCBC;
    border-top: 1px solid #BCBCBC;
    padding: 6px 0 6px 10px;
    text-align:left;
    font-weight:bold;
}

.panel-6 {
padding:10px;
background:#f65234;
color:#101010; 
text-transform:uppercase;
border-radius:6px;
-moz-border-radius:6px; 
-webkit-border-radius:6px; 
margin-bottom:10px;
}

.panel-7 {
padding:10px;
background:#e68c2a; 
color:#101010; 
border-radius:6px;
-moz-border-radius:6px; 
-webkit-border-radius:6px;
margin-bottom:10px;
}

.panel-8 {
    border-color: #ff154d;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25em;
    padding:1.25em;
	border-radius:6px; 
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
}