/* CSS Document */
*,
*:before,
*:after {
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing: border-box;
}

/* DEFAULTS
----------------------------------------------------------*/
body {
  
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    margin: 0;
    padding: 0;
}

.clear{
 clear:both;
}

.right
{
    float:right;
}

.left
{
    float:left;
}





/* NAVIGATION ELEMENTS
-------------------------------------------------------------------------- */
/* SIDE NAVIGATION ELEMENTS   
----------------------------------------------------------*/
.side-nav {
    display: block;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0.875em 0;
}


.side-nav li {
    font-size: 0.875em;
    margin: 0 0 0.4375em;
}

.side-nav li a
{
    color:#ffdd74;
	font-size:18px;
}


/* INLINE NAVIGATION ELEMENTS
----------------------------------------------------------*/






/* LINK BUTTON
---------------------------------------------------------------*/
a {
    color: #fff;
    line-height: inherit;
    text-decoration: none;
}


