ul.accordion,
ol.accordion {
    margin: 0;
    padding: 0;
}
.accordion li {
    /*list-style-type: none !important;*/
	vertical-align: middle;
    margin: 0;
    padding: 0;
	float:none;
}
.accordion li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    *zoom: 1;
}
.accordion li li {
    list-style-type: disc;
    margin-left:0px;
}
.accordion a {
    color: inherit;
    text-decoration: none;
}
.accordion .loading {
    display: none;
}