html{
 font-size:62.5%;
}
body {
    background-color: #F6F6F6;
    color: #333333;
    font-family: Oxygen,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
	margin:0px;
	padding:0px;
}

.left
{
    float:left;
}
.right
{
    float:right;
}
.clear
{
    clear:both;
}