@charset "utf-8";
/* CSS Document */
.right-arrow-black
     {
         background-image: url("../Images/glyphicons-halflings.png");
         background-position: -456px -72px;
         height: 14px;
         width: 14px;
         display: inline-block;
		 opacity: 0.25;
     }
