.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    float:none;
}

.nav:before, .nav:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}


.nav li{
    display:inline;
    position: relative;
    margin: 0 12px;
}
.nav a{
    display:inline-block;
    position: relative;
    text-decoration: none;
	line-height: 20px;
	padding: 8px 5px;
	color: #777777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
} 

.nav .active
{
    border-bottom: 3px solid #FD7022;
}